<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Learning_PopupWebApi">
        <sequence>
            <module name="Learning_Popup"/>
        </sequence>
    </module>
</config>
